<div class="absolute -absolute-center w-full p-4">
  <div class="flex w-full gap-4 items-center justify-center">
    <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">rest
      <div class="field">
        <input
          class="search__input field__input"
          id="{{ input_id }}"
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          placeholder="{{ 'general.search.search' | t }}"
          {%- if settings.predictive_search_enabled -%}
            role="combobox"
            aria-expanded="false"
            aria-owns="predictive-search-results"
            aria-controls="predictive-search-results"
            aria-haspopup="listbox"
            aria-autocomplete="list"
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="false"
          {%- endif -%}
        >
        <label class="field__label" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
        <input type="hidden" name="options[prefix]" value="last">
        <button
          type="reset"
          class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
          aria-label="{{ 'general.search.reset' | t }}"
        >
          <div
            class="icon-wrapper cursor-pointer w-10 h-10 flex items-center justify-center"
          >
            {% render 'icon-close' %}
          </div>
        </button>
        <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
          <div
            class="icon-wrapper cursor-pointer w-10 h-10 flex items-center justify-center"
          >
            {% render 'icon-search' %}
          </div>
        </button>
      </div>

      {%- if settings.predictive_search_enabled -%}
        <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
          <div class="predictive-search__loading-state">
            <svg
              aria-hidden="true"
              focusable="false"
              class="spinner"
              viewBox="0 0 66 66"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </div>

        <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
      {%- endif -%}
    </form>
    <div
      id="close-icon"
      class="icon-wrapper cursor-pointer w-10 h-10 flex items-center justify-center"
    >
      {% render 'icon-close' %}
    </div>
  </div>
</div>
