{%- liquid
  unless lazy_load == false
    assign lazy = 'lazy'
  endunless

  assign padding = image.height | divided_by: image.width | times: 100
-%}

{%- capture sizes -%}
  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: media_width | divided_by: desktop_columns | round }}px, (min-width: 990px) calc({{ media_width | times: 100 | divided_by: desktop_columns }}vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / {{ mobile_columns }} - 4rem)
{%- endcapture -%}

{% comment %}
  <div class="h-0 relative overflow-hidden" style="padding-bottom: {{ padding }}%;">
    {{
      image
      | image_url: width: 1946
      | image_tag:
        loading: lazy,
        class: 'absolute w-full h-auto object-contain',
        sizes: sizes,
        widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
    }}
  </div>
{% endcomment %}

<div class=" group {% if thumbnail %} w-[50px] md:w-[80px]  {% else %} w-full {% endif %} overflow-hidden relative before:content-[''] before:block before:pt-[6%]">
  {{
    image
    | image_url: width: image.width
    | image_tag:
      class: 'h-full w-full object-contain absolute left-1/2 top-0 -translate-x-1/2 transition duration-700 ease-in-out',
      loading: 'lazy'
  }}
</div>
