<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {{ content_for_header }}
    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}
    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      :root{
        --body-font-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --body-font-style: {{ settings.type_body_font.style }};
        --body-font-weight: {{ settings.type_body_font.weight }};
        --body-font-weight-bold: {{ settings.type_body_font.weight | plus: 300 | at_most: 1000 }};

        --heading-font-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --heading-font-style: {{ settings.type_header_font.style }};
        --heading-font-weight: {{ settings.type_header_font.weight }};

        --body-font-scale: {{ settings.body_scale | divided_by: 100.0 }};
        --heading-font-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};

        --headerBackgroundColor: {{ settings.header_background_color.red }}, {{ settings.header_background_color.green }}, {{ settings.header_background_color.blue }};
        --headerTextColor: {{ settings.header_text_color.red }}, {{ settings.header_text_color.green }}, {{ settings.header_text_color.red }};

        --color-bg: {{ settings.background_color.red }}, {{ settings.background_color.green }}, {{ settings.background_color.blue }};
        --color-text: {{ settings.text_color.red }},{{ settings.text_color.green }}, {{ settings.text_color.blue }};

        --color-btn: {{ settings.primary_button_background.red }}, {{ settings.primary_button_background.green }}, {{ settings.primary_button_background.blue }};
        --color-btn-text: {{ settings.primary_button_color.red }}, {{ settings.primary_button_color.green }}, {{ settings.primary_button_color.blue }};
        --color-sec-btn: {{ settings.secondary_button_background_color.red }}, {{ settings.secondary_button_background_color.green }}, {{ settings.secondary_button_background_color.blue }};
        --color-sec-btn-text: {{ settings.secondary_button_text_color.red }}, {{ settings.secondary_button_text_color.green }}, {{ settings.secondary_button_text_color.blue }};

        --card-background: {{ settings.card_background_color }};
        --card-text: {{ settings.card_text_color }};

        --page-width: {{ settings.max_width }}px;
        --sectionSpacing: {{ settings.section_spacing }}px;

        --input-border-color: #4b5563;
        --input-border-width: 1px;

      }
    {% endstyle %}
    <script src="{{ 'application.js' | asset_url }}" defer></script>
    {{ 'tailwind-output.css' | asset_url | stylesheet_tag }}
    {{ 'application.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    <main role="main">
      {{ content_for_layout }}
    </main>
  </body>
</html>
