{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    <div class="{% if section.settings.Alignment == 'left' %}text-left{% elsif section.settings.Alignment == 'center' %}text-center{% endif %}">
      <h2 class="{{ section.settings.heading_size }}">
        {{ section.settings.heading }}
      </h2>
      <h3 class="mt-3">{{ section.settings.subheading }}</h3>
    </div>
    <div class="mt-8 max-w-2xl mx-auto">
      {%- form 'contact',
        article: section,
        class: 'flex flex-wrap gap-2 justify-between gap-y-2 md:gap-y-4',
        action: '/contact',
        method: 'post'
      -%}
        {% comment %}
          {%- if form.posted_successfully? -%}
            <h2 class="">
              posted_successfully
            </h2>
          {%- elsif form.errors -%}
            <h2 class="">
              error
            </h2>
          {%- endif -%}
        {% endcomment %}
        {%- for block in section.blocks -%}
          {% case block.type %}
            {%- when 'name' -%}
              <div class="{% if block.settings.block_width == 'full_width' %}w-full{% else %}w-full md:w-[49%] {% endif %}">
                <label for="firstName" class="block mb-2 ">
                  {{- block.settings.name }}
                  {% if block.settings.required %}*{% endif -%}
                </label>
                <input
                  type="text"
                  id="firstName"
                  name="contact[{{ 'templates.contact.form.name' | t }}]"
                  class="w-full input"
                  {% if block.settings.required %}
                    required
                  {% endif %}
                >
              </div>
            {%- when 'email' -%}
              <div class="{% if block.settings.block_width == 'full_width' %}w-full{% else %}w-full md:w-[49%] {% endif %}">
                <label for="email" class="block mb-2 ">
                  {{- block.settings.email -}}
                  {%- if block.settings.required %}*{% endif -%}
                </label>
                <input
                  type="email"
                  id="email"
                  name="contact[email]"
                  class="w-full input"
                  required
                >
              </div>
            {%- when 'phone_number' -%}
              <div class="{% if block.settings.block_width == 'full_width' %}w-full{% else %}w-full md:w-[49%] {% endif %}">
                <label for="phone" class="block mb-2">
                  {{- block.settings.phone -}}
                  {%- if block.settings.required %}*{% endif -%}
                </label>
                <input
                  type="tel"
                  id="phone"
                  name="contact[{{ 'templates.contact.form.phone' | t }}]"
                  class="w-full input "
                  {% if block.settings.required %}
                    required
                  {% endif %}
                >
              </div>
            {%- when 'textarea' -%}
              <div class="{% if block.settings.block_width == 'full_width' %}w-full{% else %}w-full md:w-[49%] {% endif %}">
                <label for="{{ block.settings.textarea }}" class="block mb-2 ">
                  {{- block.settings.message -}}
                  {%- if block.settings.required %}*{% endif -%}
                </label>
                <textarea
                  id="{{ block.settings.textarea }}"
                  name="contact[{{ 'templates.contact.form.comment' | t }}]"
                  rows="{{ block.settings.height }}"
                  class="w-full input"
                  placeholder="{{ block.settings.textarea }}"
                  {% if block.settings.required %}
                    required
                  {% endif -%}
                ></textarea>
              </div>
            {%- when 'submit' -%}
              <div class="{% if block.settings.full_width %}w-full{% else %} mr-2{% endif %} mb-4">
                <button
                  type="submit"
                  class="button button-primary {% if block.settings.full_width %}w-full button-full {% endif %}"
                >
                  {{ block.settings.submit }}
                </button>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      {%- endform -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact-Us",
  "settings": [
    {
      "type": "select",
      "id": "Alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "center",
          "label": "Heading and text center"
        },
        {
          "value": "left",
          "label": "Heading and text left"
        }
      ],
      "default": "center"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Contact us"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading Size",
      "options": [
        {
          "value": "h3",
          "label": "Small"
        },
        {
          "value": "h2",
          "label": "Medium"
        },
        {
          "value": "h1",
          "label": "Large"
        }
      ],
      "default": "h2"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "default": 25,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "default": 25,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "color_scheme",
      "label": "Color Scheme",
      "id": "color_scheme",
      "default": "background-1"
    }
  ],

  "blocks": [
    {
      "type": "email",
      "name": "Email",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "email",
          "label": "Email",
          "default": "Email"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": true
        },
        {
          "type": "radio",
          "id": "block_width",
          "label": "Block width",
          "default": "full_width",
          "options": [
            {
              "value": "full_width",
              "label": "Full width"
            },
            {
              "value": "half_width",
              "label": "Half width"
            }
          ]
        }
      ]
    },
    {
      "type": "name",
      "name": "Name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Label",
          "default": "Name"
        },
        {
          "type": "radio",
          "id": "block_width",
          "label": "Block width",
          "options": [
            {
              "value": "full_width",
              "label": "Full width"
            },
            {
              "value": "half_width",
              "label": "Half width"
            }
          ],
          "default": "full_width"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": true
        }
      ]
    },
    {
      "type": "phone_number",
      "name": "Phone number",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "phone",
          "label": "Phone",
          "default": "Phone Number"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required"
        },
        {
          "type": "radio",
          "id": "block_width",
          "label": "Block width",
          "options": [
            {
              "value": "full_width",
              "label": "Full width"
            },
            {
              "value": "half_width",
              "label": "Half width"
            }
          ],
          "default": "full_width"
        }
      ]
    },
    {
      "type": "textarea",
      "name": "Textarea",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "message",
          "label": "Label",
          "default": "Message"
        },
        {
          "type": "textarea",
          "id": "textarea",
          "label": "Placeholder",
          "placeholder": "Your message",
          "default": "Your message"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": true
        },
        {
          "type": "range",
          "id": "height",
          "min": 3,
          "max": 15,
          "step": 1,
          "unit": "px",
          "label": "Height",
          "default": 5
        },
        {
          "type": "radio",
          "id": "block_width",
          "label": "Block width",
          "options": [
            {
              "value": "full_width",
              "label": "Full width"
            },
            {
              "value": "half_width",
              "label": "Half width"
            }
          ],
          "default": "full_width"
        }
      ]
    },
    {
      "type": "submit",
      "name": "Submit",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "submit",
          "label": "Label",
          "default": "Submit"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "checkbox",
      "name": "CheckBox",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "checkbox",
          "label": "Label",
          "default": "Check Box"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        },
        {
          "type": "radio",
          "id": "block_width",
          "label": "Block width",
          "options": [
            {
              "value": "full_width",
              "label": "Full width"
            },
            {
              "value": "half_width",
              "label": "Half width"
            }
          ],
          "default": "full_width"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Contact form",
      "blocks": [
        {
          "type": "name"
        },
        {
          "type": "email"
        },
        {
          "type": "phone_number"
        },
        {
          "type": "textarea"
        },
        {
          "type": "submit"
        }
      ]
    }
  ]
}
{% endschema %}
