{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{%- assign pick_up_availabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true -%}

{%- if pick_up_availabilities.size > 0 -%}
  <pickup-availability-preview class="flex gap-2">
    {%- liquid
      assign closest_location = pick_up_availabilities.first

      if closest_location.available
        render 'icon-tick', class: 'w-5 h-5 font-bold text-success stroke-[3px]'
      endif
    -%}

    <div class="">
      {%- if closest_location.available -%}
        <p class="p-0">
          {{
            'products.product.pickup_availability.pick_up_available_at_html'
            | t: location_name: closest_location.location.name
          }}
        </p>
        <p class="text-sm">{{ closest_location.pick_up_time }}</p>
        <open-drawer target-id="pickup">
          <button
            id="ShowPickupAvailabilityDrawer"
            class="underline text-sm"
          >
            {%- if pick_up_availabilities.size == 1 -%}
              {{ 'products.product.pickup_availability.view_store_info' | t }}
            {%- else -%}
              {{ 'products.product.pickup_availability.check_other_stores' | t }}
            {%- endif -%}
          </button>
        </open-drawer>
      {%- else -%}
        <p class="p-0">
          {{
            'products.product.pickup_availability.pick_up_unavailable_at_html'
            | t: location_name: closest_location.location.name
          }}
        </p>
        {%- if pick_up_availabilities.size > 1 -%}
          <open-drawer target-id="pickup">
            <button
              id="ShowPickupAvailabilityDrawer"
              class="underline text-sm"
            >
              {{ 'products.product.pickup_availability.check_other_stores' | t }}
            </button>
          </open-drawer>
        {%- endif -%}
      {%- endif -%}
    </div>
  </pickup-availability-preview>

  <pickup-availability-drawer
    class="gradient z-50"
    tabindex="-1"
    aria-labelledby="PickupAvailabilityHeading"
  >
    <en-drawer
      data-id="pickup"
      class="fixed left-0 top-0 w-full h-full z-[99] overlay-full color-background-1"
    >
      <div
        class="main-drawer main-drawer--right flex flex-col bg-[rgba(var(--color-bg))] absolute h-full w-full md:max-w-[25rem] m-0 z-[99] p-3"
      >
        <div class="border-b flex justify-between items-center">
          <h2 class="h3 font-semibold " id="PickupAvailabilityHeading">
            {{ product_variant.product.title | escape }}
          </h2>
          <button
            class="close-drawer absolute bg-[rgba(var(--color-bg))] z-[100] flex items-center rounded-full right-2 top-2 cursor-pointer"
            type="button"
            aria-label="{{ 'accessibility.close' | t }}"
          >
            {%- render 'icon-close', class: 'w-4 h-4 close-drawer' -%}
          </button>
        </div>

        {%- unless product_variant.product.has_only_default_variant -%}
          <p class="text-sm border-b">
            {%- for product_option in product_variant.product.options_with_values -%}
              {{ product_option.name | escape }}:&nbsp;
              {%- for value in product_option.values -%}
                {%- if product_option.selected_value == value -%}
                  <span>{{ value | escape }}</span>
                {%- endif -%}
              {%- endfor -%}
              {%- unless forloop.last -%},&nbsp;{%- endunless -%}
            {%- endfor -%}
          </p>
        {%- endunless -%}

        <ul class="flex flex-col gap-4 py-3" role="list" data-store-availability-drawer-content>
          {%- for availability in pick_up_availabilities -%}
            <li class="mb-2">
              <div class="flex items-center gap-2">
                {%- if availability.available -%}
                  {% render 'icon-tick', class: 'w-5 h-5 font-bold text-success stroke-[3px]' %}
                {% else %}
                  {% render 'icon-close', class: 'w-5 h-5 font-bold text-danger stroke-[3px]' %}
                {% endif %}
                <h3 class="h4">{{ availability.location.name | escape }}</h3>
              </div>
              {%- if availability.available -%}
                <p class="p-0 text-sm">
                  {{ 'products.product.pickup_availability.pick_up_available' | t }},
                  {{ availability.pick_up_time | downcase }}
                </p>
              {%- endif -%}

              {%- assign address = availability.location.address -%}
              <address class="pickup-availability-address">
                {{ address | format_address }}

                {%- if address.phone.size > 0 -%}
                  <p class="p-0">{{ address.phone }}</p>
                {%- endif -%}
              </address>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </en-drawer>
  </pickup-availability-drawer>
{%- endif -%}
