{%- if predictive_search.performed -%}
  <div class="flex flex-col gap-6 pb-4" id="predictive-search-results">
    {% if predictive_search.resources.queries.size > 0 %}
      <div class="flex flex-col gap-2">
        <h3 class="border-light border-b w-full">Suggestions</h3>
        <ul class="flex flex-col gap-3">
          {%- for query in predictive_search.resources.queries -%}
            <li
              id="predictive-search-option-query-{{ forloop.index }}"
              class="font-bold hover:underline transition duration-300"
              role="option"
              aria-selected="false"
            >
              <a href="{{ query.url }}" class="predictive-search__item link link--text" tabindex="-1">
                <div class="predictive-search__item-content predictive-search__item-content--centered">
                  <p
                    class="predictive-search__item-heading predictive-search__item-query-result h5"
                    aria-label="{{ query.text }}"
                  >
                    {{ query.styled_text }}
                  </p>
                </div>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {% endif %}

    <div class="grid grid-gap grid-cols-1 md:grid-cols-2">
      {%- if predictive_search.resources.products.size > 0 -%}
        <div class="flex flex-col gap-2">
          <h3 id="predictive-search-products" class="border-light border-b w-full">Products</h3>
          <ul role="listbox" aria-labelledby="predictive-search-products" class="flex flex-col gap-3">
            {%- for product in predictive_search.resources.products -%}
              <li role="option">
                <a href="{{ product.url }}" class="flex items-center gap-3">
                  {{ product | image_url: width: 50 | image_tag }}
                  <span>{{ product.title }}</span>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      <div class="flex flex-col gap-4">
        {%- if predictive_search.resources.collections.size > 0 -%}
          <div class="flex flex-col gap-2">
            <h3 id="predictive-search-collections" class="border-light border-b w-full">Collections</h3>
            <ul role="listbox" aria-labelledby="predictive-search-collections" class="flex flex-col gap-3">
              {%- for collection in predictive_search.resources.collections -%}
                <li role="option">
                  <a href="{{ collection.url }}">
                    <span>{{ collection.title }}</span>
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}

        {%- if predictive_search.resources.pages.size > 0 -%}
          <div class="flex flex-col gap-2">
            <h3 id="predictive-search-pages" class="border-light border-b w-full">Pages</h3>
            <ul role="listbox" aria-labelledby="predictive-search-pages" class="flex flex-col gap-3">
              {%- for page in predictive_search.resources.pages -%}
                <li role="option">
                  <a href="{{ page.url }}">
                    <span>{{ page.title }}</span>
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="flex justify-center">
      <button class="w-full hover:underline">Search for “{{ predictive_search.terms }}”</button>
    </div>
  </div>
{%- endif -%}
