{% liquid
  assign desktop_columns_class = 'lg:grid-cols-3'
  if section.settings.columns_desktop == '3'
    assign desktop_columns_class = 'lg:grid-cols-3'
  elsif section.settings.columns_desktop == '4'
    assign desktop_columns_class = 'lg:grid-cols-4'
  elsif section.settings.columns_desktop == '5'
    assign desktop_columns_class = 'lg:grid-cols-5'
  endif
%}
<div class="container mx-auto">
  <div class="page-width">
    {% paginate search.results by 10 %}
      <h1 class="text-xl my-4 text-center">Search Results</h1>

      <div class="flex justify-center items-center">
        <form action="{{ routes.search_url }}" method="get" class="border flex rounded">
          <input
            type="search"
            name="q"
            placeholder="Search"
            value="{{ search.terms | escape }}"
            class="px-4 py-2 w-80 border-none"
          >

          <button type="submit" class="bg-gray-900 hover:bg-gray-700 text-white border px-4">Search</button>
        </form>
      </div>
      {% if search.performed %}
        {% if search.results.size > 0 %}
          <div class="max-w-6xl mx-auto relative">
            <p class="text-gray-500 text-center my-10">
              {{ search.results_count }} results for the search term {{ search.terms | escape }}
            </p>
            <div class="w-full flex flex-col md:flex-row md:gap-4">
              {% render 'filters-new', collection: search, type: 'drawer' %}
              <div
                class="grid en-grid-gap relative grid-cols-1 {% unless section.settings.display_style == 'list' %}  md:grid-cols-2 {{ desktop_columns_class }} {% endunless %} flex w-full"
                id="products-grid"
              >
                <div
                  id="products-grid-overlay"
                  class="absolute w-full h-full top-0 left-0 transition duration-500"
                ></div>
                {% for item in search.results %}
                  {% case item.object_type %}
                    {% when 'product' %}
                      {% render 'product-card',
                        card_product: item,
                        show_vendor: section.settings.show_vendor,
                        quick_add: section.settings.quick_add,
                        type: section.settings.display_style,
                        swatches: section.settings.color_swatches
                      %}
                    {% when 'article' %}
                      {% render 'article-card',
                        article: item,
                        show_image: true,
                        show_date: true,
                        show_author: true,
                        show_badge: true,
                        media_aspect_ratio: 1
                      %}
                    {% when 'page' %}
                      {{ item.title }}
                    {% else %}

                  {% endcase %}
                {% endfor %}
              </div>
            </div>
          </div>

        {% else %}
          <div class="text-center my-4">
            <p>No results found for the search term: {{ search.terms | escape }}. Try to use a different keyword</p>
          </div>
        {% endif %}
      {% endif %}

      {% render 'pagination', pagination: paginate %}
    {% endpaginate %}
  </div>
</div>
