<div class="{%  unless section.settings.overlay == false %}  absolute {% endunless %} px-2 py-4 lg:px-8 xl:px-12 w-full top-0 z-[101] flex justify-between items-center">
  <a href="{{ routes.root_url }}" class="">
    {%- if settings.logo != blank -%}
      <div class="">
        {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
        {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
        {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
        {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
        {{
          settings.logo
          | image_url: width: 600
          | image_tag:
            class: 'logo',
            widths: widths,
            height: logo_height,
            width: settings.logo_width,
            alt: logo_alt,
            sizes: sizes,
            preload: true
        }}
      </div>
    {%- else -%}
      <span class="text-[2rem] uppercase">{{ shop.name }}</span>
    {%- endif -%}
  </a>

  <button class="en-collapsible flex items-center gap-2" id="passwordPageButton">
    {% render 'icon-lock-closed' %}
    <span class="en-title-test">Password</span>
  </button>

  <div class="en-content-collapsible origin-top-left fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full max-w-[30rem] z-[101] bg-[rgba(var(--primary-background))] shadow-lg">
    <div class="en-collapsible-close absolute right-2 top-2 cursor-pointer">
      {% render 'icon-close' %}
    </div>
    {%- form 'storefront_password', class: 'p-8' -%}
      <div class="flex flex-col gap-4 ">
        <div class="form-control ">
          <input
            type="password"
            name="password"
            id="Password"
            required
          >
          <label>Store Password</label>
        </div>

        <button type="submit" name="commit" class="button-primary ">Enter</button>

        <div class="">Store owner ? <a href="">Log In here </a></div>
      </div>
    {% endform %}
  </div>
</div>

{% javascript %}
  document.querySelector('#passwordPageButton').addEventListener('click', () => {});
{% endjavascript %}

{% schema %}
{
  "name": "Password",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "overlay",
      "label": "Overlay Heading",
      "default": true
    }
  ]
}
{% endschema %}
