{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{% comment %}
  grid-cols-1 grid-cols-2 md:grid-cols-1 md:grid-cols-2 md:grid-cols-3 md:grid-cols-4 lg:grid-cols-1 lg:grid-cols-2 lg:grid-cols-3 lg:grid-cols-4
{% endcomment %}
<div class=" color-{{ section.settings.color_scheme }}">
  <div class="{% if section.settings.page_width %}page-width{% endif %} section-{{ section.id }}-padding text-{{ section.settings.vertical_alignment }}  ">
    <div class="grid grid-gap grid-cols-1 md:grid-cols-2 lg:grid-cols-{{ section.blocks.size }}">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'image' %}
            <div class="w-full">
              {% assign image = block.settings.image %}
              {% if image %}
                {% assign image_class = 'w-full h-full object-cover' %}
                {% if settings.corners == 'rounded' %}
                  {% assign image_class = image_class | append: ' rounded-md' %}
                {% endif %}
                {{ image | image_url: width: image.width | image_tag: class: image_class }}
              {% else %}
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'w-full h-full object-cover' }}
              {% endif %}
            </div>
          {% when 'text' %}
            <div
              class="
                flex
                flex-col
                {{ section.settings.content_position }}
                gradient
                color-{{ block.settings.color_scheme }}
                w-full
                p-4
                lg:p-8
              "
            >
              <h2 class="{{ block.settings.heading_size }}">{{ block.settings.heading }}</h2>
              <div class="rte {{ block.settings.sub_heading_size }}">{{ block.settings.sub_heading }}</div>
              <div>
                <a href="{{ block.settings.button_url }}" class="button button-primary">{{ block.settings.button }}</a>
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-and-text.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "page_width",
      "label": "t:sections.all.page_width.label",
      "default": true
    },

    {
      "type": "select",
      "id": "content_position",
      "label": "t:sections.all.text_position.label",
      "options": [
        {
          "value": "justify-start",
          "label": "t:sections.all.text_position.options__1.label"
        },
        {
          "value": "justify-center",
          "label": "t:sections.all.text_position.options__2.label"
        },
        {
          "value": "justify-end",
          "label": "t:sections.all.text_position.options__3.label"
        }
      ],
      "default": "justify-center"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "t:sections.all.text_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "min": 0,
      "max": 100,
      "default": 25,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "min": 0,
      "max": 100,
      "default": 25,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "color_scheme",
      "label": "Color Scheme",
      "id": "color_scheme",
      "default": "background-1"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.image-and-text.blocks.image.label",
      "limit": 2,

      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-and-text.blocks.text.label",
      "limit": 2,

      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.all.heading.heading",
          "default": "Image and text"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.all.heading_size.label",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h2"
        },
        {
          "type": "richtext",
          "id": "sub_heading",
          "label": "t:sections.all.heading.sub_heading",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "select",
          "id": "sub_heading_size",
          "label": "t:sections.all.sub_heading_size.label",
          "options": [
            {
              "value": "p",
              "label": "t:sections.all.sub_heading_size.options__1.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.sub_heading_size.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.sub_heading_size.options__3.label"
            }
          ],
          "default": "h4"
        },
        {
          "type": "text",
          "id": "button",
          "label": "t:sections.all.button.label",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "t:sections.all.button_url.label"
        },
        {
          "type": "color_scheme",
          "label": "Color Scheme",
          "id": "color_scheme",
          "default": "background-1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-and-text.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
